# Data Science Tools and Ecosystem

This notebook illustrates data science tools and ecostystem

**Objectives:**

* List some of the data science languages
* List the popular libraries in data science
* List some of the Data Science Environments

Some of data science languages are:

1. Python
2. R
3. Julia
4. Scala
5. Java
6. Javascript

Some of the commonly used libraries used by Data Scientists include:

1. NumPy
2. Pandas
3. MatPlotLib
4. SciPy
5. Seaborn
6. Scikit-Learn
7. TensorFlow
8. Pytorch

| Data Science Tools |
| ------------------ |
| Jupyter Notebook  |
| R Studio  |
| Visual Studio Code  |

### Below are a few examples of evaluating arithmetic expressions in Python

In [2]:
# we multiplied 3 by 4 and then added 5 to it
(3*4)+5

17

In [2]:
#  These lines of code will convert 200 minutes to hours by diving by 60
mins = 200
mins / 60

3.3333333333333335

## Author
Haya Al Qahtany